a,h1,h2,h3,h4,body,html,div,textarea,input{
font-family: Calibri,Arial,Sans Serif;
line-height: 1.3em;
}
#centeredContainer{
width:1060px;
margin:0 auto;
font-size:1.1em;
padding-top:1em;
}
#leftCol{
float:left;
width:710px;
padding-top:1em;
}
#rightCol{
float:right;
width:230px;
padding-top:1em;
}
a:hover{
color:blue;
}
a{
text-decoration:none;
}
#top{
word-spacing:12px;
padding-left:15px;
white-space:nowrap;
padding-top:6px;
background-color: #d3d3d3;
height:2em;
}
.contact_info{
font-family: Calibri,Arial,Sans Serif;
line-height: 1.3em;
}
.contactTitle{
font-size: 16px;
font-weight:bold;
border-bottom:2px solid #1a1a1a;
margin:20px 0 10px 0;
}
#footer{
float:right;
}




